
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
   /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
  }
}


@font-face {
    font-family: 'Anton';
    src: url('../css/fonts/Anton-Regular.ttf') format("trueType");
}
@font-face {
    font-family: 'Manrope';
    font-weight: 400;
    src: url('../css/fonts/Manrope-Regular.ttf') format("trueType");
}
@font-face {
    font-family: 'Manrope';
    font-weight: 500;
    src: url('../css/fonts/Manrope-Medium.ttf') format("trueType");
}
@font-face {
    font-family: 'Manrope';
    font-weight: 700;
    src: url('../css/fonts/Manrope-Bold.ttf') format("trueType");
}


/* Custom styles */

#text-search-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 100%;
    margin-block: 120px; */
}

.input-text-search {
    /* width: 1080px; */
    height: 64px;
    margin-block: 20px;

}

/* .btn-text-search {
    position: absolute;
    top: 445px;
    right: 415px;
}

.btn-text-search::after {
    content: url('../icons/searchCTA.svg');
    margin: 7px;
} */
/* .btn-text-search:hover::after {
    content: url('../icons/searchCTAv2.svg');
    margin: 7px;
} */

.text-search-container {
    background-image: url('../images/bg.png');
    background-size: cover;
    /* height: 667px; */
}

.select-btn::after {
    content: url('../icons/dropdown-down.svg');
    position: relative;
    margin-left: 10px;
    transition: transform 0.3s ease-in-out;
    /* left: 45px; */
    /* left: 600px; */
}
.select-btn.open::after {
    transform: rotate(-180deg);
    /* left: 45px; */
}
@media screen and (min-width: 768px) {
    .label-search-checked:hover::after {
        content: url('../icons/closeLabel.svg');
        position: relative;
        top: 3px;
        float: right;
    }
    .label-search-checked:focus::after {
        content: url('../icons/closeLabel.svg');
        position: relative;
        top: 3px;
        float: right;
    }
}
@media screen and (max-width: 768px) {
    .button-parent:has(.label-search-checked) {
        background-color: #fcd34d;
    }
    .button-parent:hover {
        background-color: #fcd34d;
    }
}
.w-48{
    transition: max-height 0.3s ease-in-out;
}
/* .label-search-checked:hover::after {
    content: url('../icons/closeLabel.svg');
    position: relative;
    top: 3px;
    float: right;
}
.label-search-checked:focus::after {
    content: url('../icons/closeLabel.svg');
    position: relative;
    top: 3px;
    float: right;
} */
.label-tag-checked::after {
    content: url('../icons/close-tag.svg');
    position: relative;
    top: 3px;
    float: right;
}

.tag-container::before {
    content: url('../icons/search-tag.svg');
    position: absolute;
    top: 10px;
    right: 25px;
}
@media screen and (max-width: 584px) {
    .tag-container::before {

        right: 4vw;
    }
}

.placeholder-mobile::placeholder {
    @apply text-sm md:text-base; /* Changez la taille du texte du placeholder pour mobile */
  }


/* les input dans les ul*/

