
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
   /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
  }
}


@font-face {
    font-family: 'Anton';
    src: url('../css/fonts/Anton-Regular.ttf') format("trueType");
}
@font-face {
    font-family: 'Manrope';
    font-weight: 400;
    src: url('../css/fonts/Manrope-Regular.ttf') format("trueType");
}
@font-face {
    font-family: 'Manrope';
    font-weight: 500;
    src: url('../css/fonts/Manrope-Medium.ttf') format("trueType");
}
@font-face {
    font-family: 'Manrope';
    font-weight: 700;
    src: url('../css/fonts/Manrope-Bold.ttf') format("trueType");
}


/* Custom styles */

#text-search-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin-block: 120px;
}

.input-text-search {
    width: 1080px;
    height: 64px;

}

.btn-text-search {
    position: absolute;
    top: 445px;
    right: 415px;



    
}

.btn-text-search::after {
    content: url('../icons/searchCTA.svg');
}
.btn-text-search:hover::after {
    content: url('../icons/searchCTAv2.svg');
}

.text-search-container {
    background-image: url('../images/bg.png');
    background-size: cover;
    height: 667px;
}

.select-btn::after {
    content: url('../icons/dropdown-down.svg');
}
.label-search-checked::after {
    content: url('../icons/closeLabel.svg');

}

